# Importing Library & Data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Load and Prepare Data

In [2]:
df = pd.read_csv("HP_DRUM_LEVEL_revise-Mean-Std-MSE-Range.csv")
df

,DATETIME,11HAG31CL103,11HAG31CL104,11HAG31CL105,11HAG31CL101,11HAG31CL102,Label,Mean,Standard Deviation,MSE,Range
0,1/7/2021 0:11,162.11,137.60,138.62,166.05,156.57,0,152.190,13.291947,141.340680,28.45
1,1/7/2021 0:12,162.56,137.71,138.50,166.05,156.46,0,152.256,13.369126,142.986824,28.34
2,1/7/2021 0:13,162.34,137.83,138.05,166.05,156.46,0,152.146,13.411698,143.898904,28.22
3,1/7/2021 0:14,162.23,137.71,138.16,166.05,156.46,0,152.122,13.394236,143.524456,28.34
4,1/7/2021 0:15,162.11,137.71,138.05,166.05,156.34,0,152.052,13.390699,143.448656,28.34
...,...,...,...,...,...,...,...,...,...,...,...
484731,4/6/2022 17:42,227.15,201.28,201.74,227.59,218.33,0,215.218,13.048447,136.209576,26.31
484732,4/6/2022 17:43,227.04,201.40,201.62,227.59,218.22,0,215.174,13.016059,135.534224,26.19
484733,4/6/2022 17:44,227.04,201.51,201.62,227.59,218.22,0,215.196,12.987018,134.930104,26.08
484734,4/6/2022 17:45,227.49,201.62,201.51,227.48,218.22,0,215.264,13.064981,136.554984,25.98
484735,4/6/2022 17:46,227.04,201.51,201.51,227.48,218.11,0,215.130,12.983257,134.851960,25.97

# Create Condition

In [3]:
df_label1 = df[df["Label"] == 1]
df_label1

,DATETIME,11HAG31CL103,11HAG31CL104,11HAG31CL105,11HAG31CL101,11HAG31CL102,Label,Mean,Standard Deviation,MSE,Range
2251,2/7/2021 13:42,73.25,23.22,51.90,61.95,61.16,1,54.296,18.950006,287.282184,50.03
2252,2/7/2021 13:43,73.47,22.99,52.12,61.61,61.04,1,54.246,19.048665,290.281304,50.48
2271,2/7/2021 14:02,72.91,22.88,51.78,60.59,59.91,1,53.614,18.765541,281.716424,50.03
2272,2/7/2021 14:03,73.02,22.31,51.56,60.59,59.80,1,53.456,19.023397,289.511704,50.71
2273,2/7/2021 14:04,73.02,22.43,51.45,60.59,59.80,1,53.458,18.977138,288.105416,50.59
...,...,...,...,...,...,...,...,...,...,...,...
479336,31/5/2022 0:23,494.87,322.67,466.18,439.31,356.88,1,415.982,73.293122,4297.505416,172.20
479337,31/5/2022 0:24,518.59,403.06,489.89,491.93,433.78,1,467.450,47.428537,1799.572920,115.53
479338,31/5/2022 0:25,519.38,450.26,491.14,515.19,486.73,1,492.540,27.643818,611.344520,69.12
479457,31/5/2022 2:24,452.64,478.26,425.19,511.46,509.43,1,475.396,37.099885,1101.121144,86.27
479458,31/5/2022 3:21,452.53,476.80,425.19,450.94,506.83,1,462.458,30.800571,758.940136,81.64

In [4]:
global df_mean, start_range , end_range
df_mean = []
start = -700
end = 900
start_range = []
end_range = []

while start <= 800:
    df_mean.append(df_label1[(df_label1["Mean"]>=start) & (df_label1["Mean"]<start+100)])
    start_range.append(start)
    end_range.append(start+100)
    start = start + 100

In [5]:
for i in range(len(df_mean)):
    print("{}_{}: {}".format(start_range[i], end_range[i], df_mean[i]["Standard Deviation"].min()))

-700_-600: 25.1702946
-600_-500: 19.08775209
-500_-400: 18.46259137
-400_-300: 18.57627035
-300_-200: 18.39063811
-200_-100: 17.77051687
-100_0: 18.21877877
0_100: 18.33792655
100_200: 19.44528786
200_300: 18.54825275
300_400: 19.31149839
400_500: 18.44909293
500_600: 18.96153079
600_700: 19.59098339
700_800: 19.19286404
800_900: 21.09253707

In [6]:
for i in range(len(df_mean)):
    print("{}_{}: {}-{}".format(start_range[i], end_range[i], df_mean[i]["MSE"].min(),
                               df_mean[i]["MSE"].max()))

-700_-600: 506.834984-1381.905136
-600_-500: 291.473824-26974.25546
-500_-400: 272.693824-185812.5372
-400_-300: 276.062256-392316.4305
-300_-200: 270.572456-319848.496
-200_-100: 252.633016-251567.808
-100_0: 265.53912-558328.4825
0_100: 269.02364-427682.6314
100_200: 302.495376-310934.7622
200_300: 275.230144-528906.7154
300_400: 298.347176-306069.2499
400_500: 272.295224-336464.1307
500_600: 287.63172-366120.3503
600_700: 307.045304-91041.5737
700_800: 294.692824-23429.83594
800_900: 355.916096-804.258696

In [7]:
def classification(row):
    if row['Mean'] < -400 and row['Standard Deviation'] >= 18.46259137:
        if (row['Mean'] >= -600 and row['Mean'] < -500 and row['MSE'] >= 272.76248 and
           row['Standard Deviation'] <= 371.823216):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        elif (row['Mean'] >= -500 and row['Mean'] < -400 and row['MSE'] >= 273.027416 and
           row['MSE'] <= 410.215704):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        return 1
    elif row['Mean'] >= -400 and row['Mean'] < -300 and row['Standard Deviation'] >= 18.57627035:
        if (row['MSE'] >= 270.608504 and row['MSE'] <= 463.478504):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        return 1
    elif row['Mean'] >= -300 and row['Mean'] < -200 and row['Standard Deviation'] >= 18.39063811:
        if (row['MSE'] >= 276.069624 and row['MSE'] <= 487.078576):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        elif (row['MSE'] >= 270.608504 and row['MSE'] <= 276.059416):
            return 0
        return 1
    elif row['Mean'] >= -200 and row['Mean'] < -100 and row['Standard Deviation'] >= 17.77051687:
        if (row['MSE'] >= 252.637064 and row['MSE'] <= 406.84484):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        return 1
    elif row['Mean'] >= -100 and row['Mean'] < 0 and row['Standard Deviation'] >= 18.21877877:
        if (row['MSE'] >= 265.570536 and row['MSE'] <= 429.38772):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        return 1
    elif row['Mean'] >= 0 and row['Mean'] < 100 and row['Standard Deviation'] >= 18.33792655:
        if (row['MSE'] >= 269.03228 and row['MSE'] <= 391.654744):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        return 1
    elif row['Mean'] >= 100 and row['Mean'] < 200 and row['Standard Deviation'] >= 19.44528786:
        if (row['MSE'] >= 302.51252 and row['MSE'] <= 395.447784):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        return 1
    elif row['Mean'] >= 200 and row['Mean'] < 300 and row['Standard Deviation'] >= 18.54825275:
        if (row['MSE'] >= 275.234344 and row['MSE'] <= 460.250816):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        return 1
    elif row['Mean'] >= 300 and row['Mean'] < 400 and row['Standard Deviation'] >= 19.31149839:
        if (row['MSE'] >= 298.351416 and row['MSE'] <= 380.653336):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        return 1
    elif row['Mean'] >= 400 and row['Standard Deviation'] >= 18.44909293:
        if (row['Mean'] >= 400 and row['Mean'] < 500 and row['MSE'] >= 272.301376 and
           row['Standard Deviation'] <= 346.681616):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        elif (row['Mean'] >= 500 and row['Mean'] < 600 and row['MSE'] >= 272.48076 and
           row['MSE'] <= 356.87104):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        elif (row['Mean'] >= 600 and row['Mean'] < 700 and row['MSE'] >= 272.360744 and
           row['MSE'] <= 382.9914):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        elif (row['Mean'] >= 700 and row['Mean'] < 800 and row['MSE'] >= 272.786056 and
           row['MSE'] <= 386.853816):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        elif (row['Mean'] >= 800 and row['Mean'] < 900 and row['MSE'] >= 272.637216 and
           row['MSE'] <= 321.971416):
            if row['Range'] >= 50.02:
                return 1
            else: return 0
        return 1
    else: return 0

In [8]:
df['Classification'] = df.apply(lambda row: classification(row), axis=1)
df

,DATETIME,11HAG31CL103,11HAG31CL104,11HAG31CL105,11HAG31CL101,11HAG31CL102,Label,Mean,Standard Deviation,MSE,Range,Classification
0,1/7/2021 0:11,162.11,137.60,138.62,166.05,156.57,0,152.190,13.291947,141.340680,28.45,0
1,1/7/2021 0:12,162.56,137.71,138.50,166.05,156.46,0,152.256,13.369126,142.986824,28.34,0
2,1/7/2021 0:13,162.34,137.83,138.05,166.05,156.46,0,152.146,13.411698,143.898904,28.22,0
3,1/7/2021 0:14,162.23,137.71,138.16,166.05,156.46,0,152.122,13.394236,143.524456,28.34,0
4,1/7/2021 0:15,162.11,137.71,138.05,166.05,156.34,0,152.052,13.390699,143.448656,28.34,0
...,...,...,...,...,...,...,...,...,...,...,...,...
484731,4/6/2022 17:42,227.15,201.28,201.74,227.59,218.33,0,215.218,13.048447,136.209576,26.31,0
484732,4/6/2022 17:43,227.04,201.40,201.62,227.59,218.22,0,215.174,13.016059,135.534224,26.19,0
484733,4/6/2022 17:44,227.04,201.51,201.62,227.59,218.22,0,215.196,12.987018,134.930104,26.08,0
484734,4/6/2022 17:45,227.49,201.62,201.51,227.48,218.22,0,215.264,13.064981,136.554984,25.98,0
484735,4/6/2022 17:46,227.04,201.51,201.51,227.48,218.11,0,215.130,12.983257,134.851960,25.97,0

In [17]:
from sklearn.metrics import mean_absolute_error

test_mae = mean_absolute_error(df['Label'], df['Classification'])
# print(test_mae)
print("Mean Absolute Error: {}".format(test_mae))
# print("Mean test data value: {}".format(np.mean(df['Classification'])))

Mean Absolute Error: 0.0

In [15]:
confusion_matrix = pd.crosstab(df['Label'], df['Classification'], rownames=['Actual'], colnames=['Predicted'])
print(confusion_matrix)

Predicted       0      1
Actual
0          448434      0
1               0  36302

In [18]:
from sklearn.metrics import accuracy_score

acc = accuracy_score(df['Label'], df['Classification'])
print("Accuracy score: {}".format(acc))
# acc

Accuracy score: 1.0

# Check False value

In [50]:
df_err_1_0 = df[(df["Label"] == 1) & (df["Classification"] == 0)]
df_err_1_0

Empty DataFrame
Columns: [DATETIME, 11HAG31CL103, 11HAG31CL104, 11HAG31CL105, 11HAG31CL101, 11HAG31CL102, Label, Mean, Standard Deviation, MSE, Range, Classification]
Index: []

In [51]:
df_err_0_1 = df[(df["Label"] == 0) & (df["Classification"] == 1)]
df_err_0_1

Empty DataFrame
Columns: [DATETIME, 11HAG31CL103, 11HAG31CL104, 11HAG31CL105, 11HAG31CL101, 11HAG31CL102, Label, Mean, Standard Deviation, MSE, Range, Classification]
Index: []

In [62]:
global df_err_mean, start_err_range , end_err_range
df_err_mean = []
start = -700
end = 900
start_err_range = []
end_err_range = []

while start <= 800:
    df_err_mean.append(df_err_1_0[(df_err_1_0["Mean"]>=start) & (df_err_1_0["Mean"]<start+100)])
    start_err_range.append(start)
    end_err_range.append(start+100)
    start = start + 100

In [63]:
for i in range(len(df_err_mean)):
    print("{}_{}: {}-{}".format(start_err_range[i], end_err_range[i], df_err_mean[i]["MSE"].min(),
                               df_err_mean[i]["MSE"].max()))

-700_-600: nan-nan
-600_-500: nan-nan
-500_-400: nan-nan
-400_-300: nan-nan
-300_-200: nan-nan
-200_-100: nan-nan
-100_0: nan-nan
0_100: nan-nan
100_200: nan-nan
200_300: nan-nan
300_400: nan-nan
400_500: nan-nan
500_600: nan-nan
600_700: nan-nan
700_800: nan-nan
800_900: nan-nan

In [39]:
# new_report = pd.DataFrame({ "DATETIME": df_err_0_1["DATETIME"],
#                             "11HAG31CL103": df_err_0_1["11HAG31CL103"],
#                             "11HAG31CL104": df_err_0_1["11HAG31CL104"],
#                             "11HAG31CL105": df_err_0_1["11HAG31CL105"],
#                             "11HAG31CL101": df_err_0_1["11HAG31CL101"],
#                             "11HAG31CL102": df_err_0_1["11HAG31CL102"],
#                             "Label": df_err_0_1["Label"],
#                             "Mean": df_err_0_1["Mean"],
#                             "Standard Deviation": df_err_0_1["Standard Deviation"],
#                             "MSE": df_err_0_1["MSE"],
#                             "Range": df_err_0_1["Range"],
#                             "Q.D.": df_err_0_1["Q.D."],
#                             "M.D.": df_err_0_1["M.D."],
                            
#                             "Classification": df_err_0_1["Classification"],
                            
#                             })
                         
# new_report.to_csv('Condition-3-2-Mean-Std-Model-HP_DRUM_LEVEL_revise-0_1-Error.csv', index=False)

In [53]:
new_report = pd.DataFrame({ "DATETIME": df["DATETIME"],
                            "11HAG31CL103": df["11HAG31CL103"],
                            "11HAG31CL104": df["11HAG31CL104"],
                            "11HAG31CL105": df["11HAG31CL105"],
                            "11HAG31CL101": df["11HAG31CL101"],
                            "11HAG31CL102": df["11HAG31CL102"],
                            "Label": df["Label"],
                            "Mean": df["Mean"],
                            "Standard Deviation": df["Standard Deviation"],
                            "MSE": df["MSE"],
                            "Range": df["Range"],
                            "Classification": df["Classification"],
                            })
                         
new_report.to_csv('Condition-3-2-Mean-Std-MSE-Range-Model-HP_DRUM_LEVEL_revise.csv', index=False)